%p#notice= notice

%p
  %b Name:
  = @picture.name

%p
  %b Picture:
  = image_tag @picture.photo.url(:medium), :size => '500x600'

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
