<!DOCTYPE html>
<html>
<head>
  <title>Jaran</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <header>
    <nav class="main-nav">
      <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
      <a href="/">HOME</a>
      <a href="#">CORDE</a>
      <a href="/pictures/new">POST</a>
      <% if user_signed_in? %>
        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
        <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'EDIT PROFILE', edit_user_registration_path %>
        <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "SIGNUP", new_user_registration_path %>
        <%= link_to "LOGIN", new_user_session_path %>
      <% end %>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
